In [2]:
x = input()
x

 s

's'

In [5]:
x = input()
y = input()

z = x+y

print(z)

 5
 6

56

In [6]:
print(type(x))

<class 'str'>

In [7]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [13]:
x1 = float(input('enter the first number'))
y1 = float(input('enter the second number number'))

z1 = x1+y1


print('result in int' ,int(z1))
print('result in float',z1)

enter the first number 11
enter the second number number 1

result in int 12
result in float 12.0

In [17]:
st = input('enter the string')
print(st[0])
print(st[0:2])
print(st[-1])
print(st[:])
print(st)

enter the string sdsdfa

s
sd
a
sdsdfa
sdsdfa

In [19]:
st = input('enter the string')[1]
print(st)

enter the string 6ln

l

In [20]:
st =int(input('enter the string'))
print(st)

enter the string h

ValueError: invalid literal for int() with base 10: 'h'

# expression

### eval in input
###### it solves the expression

In [21]:
st =eval(input('enter the string'))
print(st)

enter the string 4+5+4-3

10